# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\hygiene\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
target
src/test
base